@model CreateBlogDto
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Blog Ekle";

}

<form method="post" asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label asp-for="Content"></label>
    <textarea asp-for="Content" class="form-control" rows="5" ></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
    <br />
    <label asp-for="ImageUrl"></label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>    
    <br />
    <label asp-for="BlogCategoryId">Kategoriler</label>
    <select asp-for="BlogCategoryId" asp-items="ViewBag.Categories" class="form-control">
        <option value="">Kategori Seçiniz</option>
    </select>
    <span asp-validation-for="BlogCategoryId" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-outline-primary">Ekle</button>
</form>
